﻿@model UserDetailViewModel
@{ ViewData["Title"] = Model.UserName;}

<h2>@Model.FirstName @Model.LastName</h2>
<p>Gebruiker sinds @Model.CreatedOn.ToString(" d MMMM yyyy")</p>
@if (!string.IsNullOrEmpty(Model.PhotoUrl))
{
    <div class="UserPhoto">
        <img src="@Model.PhotoUrl" class="img" alt="Avatar van de gebruiker" />
    </div>
}
<br />
<p><span style="font-weight:bolder">Gebruikersnaam: </span>@Model.UserName</p>
<p><span style="font-weight:bolder">Email: </span>@Model.Email</p>
@if (Model.Address != null)
{
    <table>
        <tr>
            <td style="vertical-align:top"><span style="font-weight:bolder">Adress:&nbsp;&nbsp; </span></td>
            <td>
                @Model.Address.Street @Model.Address.Number @if (!string.IsNullOrEmpty(Model.Address.Bus))
                {<text>Bus </text> @Model.Address.Bus} <br />
                @Model.Address.ZipCode @Model.Address.City
            </td>
        </tr>
    </table>
}
@if (!string.IsNullOrEmpty(Model.PhoneNumber))
{
    <p><span style="font-weight:bolder">Telefoonnummer: </span>@Model.PhoneNumber</p>
}
@*TODO: this view needs to be changed for #68*@
<p span style="font-weight:bolder">Rollen van deze gebruiker:</p>
<form asp-action="Detail" method="post" asp-route-id="@Model.UserId">
    <div class="form-group" style="width:250px">
        <select multiple class="form-control" asp-for="@Model.SelectedRoles" asp-items="@Model.Roles"></select>

        <div class="form-group">
            <input type="submit" value="Bewaar" class="btn btn-primary m-1" />
        </div>
    </div>
</form>
@if (Model.NewsItems.Count > 0)
{
    <p span style="font-weight:bolder">Nieuwsitems van deze gebruiker:</p>
    <table>
        <tr>
            <!--<th>&nbsp;</th>--> @* Image *@
            @*<th>Titel</th>*@
            @*<th>Goedgekeurd</th>*@
        </tr>
        <tr>
            @foreach (var n in Model.NewsItems)
            {
                <td>
                    @if (!string.IsNullOrEmpty(n.ImageUrl))
                    {
                        <a asp-controller="News" asp-action="Detail" asp-route-id="@n.Id">
                            <img src="@n.ImageUrl" class="rounded-circle"
                                 height="100" width="100"
                                 asp-append-version="true" />
                        </a>
                    }
                </td>
                <td><a asp-controller="News" asp-action="Detail" asp-route-id="@n.Id">@n.Title</a></td>
                @*<td>
                    @if (n.Approved)
                    {
                        <text>Ja</text>
                    }
                    else
                    {
                        <text>Nee</text>
                    }
                </td>*@
            }
        </tr>
    </table>
}


<form asp-controller="UserManagement" asp-action="Index" method="get">
    <button class="btn btn-primary m-1" type="submit">Terug</button>
</form>


<style>
    .img{
        height:200px;
        width:200px;
    }


</style>