﻿@*// TODO Add link to model*@

@model RoleEditViewModel

<form asp-controller="UserManagement" asp-action="EditRole" method="post" asp-route-id="@Model.Id">
    @Html.HiddenFor(x => x.Id)
    <fieldset>
        <legend>Wijzig  "@Model.Name" rol:</legend>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </fieldset>

    <fieldset>
        <legend>Selecteer de permissies voor deze rol:</legend>
        <div style="margin-left:20px;margin-bottom:20px;">
   
            <input asp-for="RoleManagement"    checked="@(Model.Permissions.HasFlag(dotNet_Core_Groepsopdracht.Entities.Permissions.RoleManagement))"/>&nbsp; RoleManagement<br />
            <input asp-for="UserManagement"    checked="@(Model.Permissions.HasFlag(dotNet_Core_Groepsopdracht.Entities.Permissions.UserManagement))"/>&nbsp; UserManagement<br />
            <input asp-for="CreateNewsItem"    checked="@(Model.Permissions.HasFlag(dotNet_Core_Groepsopdracht.Entities.Permissions.CreateNewsItem))"/>&nbsp; CreateNewsItem<br />
            <input asp-for="EditNewsItem"      checked="@(Model.Permissions.HasFlag(dotNet_Core_Groepsopdracht.Entities.Permissions.EditNewsItem))"/>&nbsp; EditNewsItem<br />
            <input asp-for="ApproveNewsItem"   checked="@(Model.Permissions.HasFlag(dotNet_Core_Groepsopdracht.Entities.Permissions.ApproveNewsItem))"/>&nbsp; ApproveNewsItem<br />
            <input asp-for="EventManagement"   checked="@(Model.Permissions.HasFlag(dotNet_Core_Groepsopdracht.Entities.Permissions.EventManagement))" />&nbsp; EventManagement<br />
            <input asp-for="DeleteReaction"    checked="@(Model.Permissions.HasFlag(dotNet_Core_Groepsopdracht.Entities.Permissions.DeleteReaction))"/>&nbsp; DeleteReaction<br />
            <input asp-for="ViewStatistics"    checked="@(Model.Permissions.HasFlag(dotNet_Core_Groepsopdracht.Entities.Permissions.ViewStatistics))"/>&nbsp; ViewStatistics<br />
            <input asp-for="SponsorManagement" checked="@(Model.Permissions.HasFlag(dotNet_Core_Groepsopdracht.Entities.Permissions.SponsorManagement))"/>&nbsp; SponsorManagement<br />
        </div>
    </fieldset>

    <button class="btn btn-primary" type="submit">Aanpassen</button>
    <button class="btn btn-warning" type="reset">Reset</button>
    <a class="btn btn-primary" asp-controller="UserManagement" asp-action="RoleOverview">Terug</a>
</form>