﻿@{
    ViewData["Title"] = "Overzicht Gebruikers";
}
@model IEnumerable<UserListViewModel>
@inject Microsoft.AspNetCore.Identity.UserManager<dotNet_Core_Groepsopdracht.Areas.Identity.Data.User> _userManager
@inject dotNet_Core_Groepsopdracht.Data.Database.IDatabase _database
@{
    dotNet_Core_Groepsopdracht.Areas.Identity.Data.User currentuser = await _userManager.GetUserAsync(User);
}
<style>
    .extrapadding {
        padding: 15px;
    }
</style>



@* Searchbox *@
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filter: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Zoek" class="btn btn-default" /> |
            <a asp-action="Index">Terug naar de volledige lijst</a>
        </p>
    </div>
</form>

@* List *@
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortUser="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Lastname)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortUser="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Firstname)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortUser="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.CreatedOn)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-action="Detail" asp-route-id="@item.UserId">Details</a> |
                <a class="text-danger" asp-action="UserDeleteConfirm" asp-route-id="@item.UserId">Verwijder</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<br />

<form asp-controller="UserManagement" asp-action="RoleOverview" method="get">
    <button class="btn btn-primary" type="submit">Overzicht rollen</button>
</form>

<style>
    td {
        vertical-align: top;
    }
</style>