﻿@model RoleDetailViewModel

<div>
    <h2>@Model.Name</h2>

    <p>Permissions: @Model.Permissions</p>

    <div>
        Gebruikers met deze rol:

        @if (Model.TopUserIds.Count == 0)
        {
            <div class="text-danger">Geen gebruikers</div>
        }

        @for (int i = 0; i < Model.TopUserIds.Count; i++)
        {
    <div>
        <a class="mr-3" asp-controller="UserManagement" asp-action="Detail" asp-route-id="@Model.TopUserIds[i]">  @Model.TopUserNames[i] </a>
    </div>
        }
    </div>

    <br />

    <a class="btn btn-primary mr-3" asp-controller="UserManagement" asp-action="RoleOverview">Terug naar overzicht</a>
    <a class="btn btn-primary mr-3" asp-controller="UserManagement" asp-action="EditRole" asp-route-id="@Model.Id"> Edit </a>
    <a class="btn btn-danger mr-3" asp-controller="UserManagement" asp-action="RemoveRole" asp-route-id="@Model.Id">Delete</a>
</div>