﻿@model IEnumerable<RoleIndexViewModel>


<a class="btn btn-primary m-1" asp-controller="UserManagement" asp-action="CreateRole">Maak nieuwe rol aan</a>

<form asp-controller="UserManagement" asp-action="Index" method="get">
    <button class="btn btn-primary m-1" type="submit">Overzicht gebruikers</button>
</form>

@if (Model != null && Model.Any( )) {
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Naam Rol</th>
            <th>Permissies</th>
            <th>Aantal users met deze rol</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var role in Model) {
            <tr>
                <td>@role.Name</td>
                <td>@Overzicht(role.Permissions)</td>
                <td>@role.UserCount</td>
                <td><a class="nav-link active" asp-controller="UserManagement" asp-action="EditRole" asp-route-id="@role.Id">Edit</a></td>
                <td><a class="nav-link active text-danger" asp-controller="UserManagement" asp-action="DeleteRoleConfirm" asp-route-id="@role.Id">Delete</a></td>
                <td><a class="nav-link active" asp-controller="UserManagement" asp-action="RoleDetail" asp-route-id="@role.Id">Toon gebruikers met deze rol</a></td>
            </tr>
        }
    </table>
    @*TODO: link to role detailed view, where all users can be displayed*@
} else {
    <p>Er zijn geen rollen.</p>
}
<br />
<br />


@functions{
    public string Overzicht(dotNet_Core_Groepsopdracht.Entities.Permissions permissions) {
        return permissions.ToString( );
    }
}