﻿@*// TODO Add link to model*@
@model UserDeleteViewModel

<form asp-controller="UserManagement" asp-action="UserDelete" method="post" asp-route-id="@Model.UserId">

    <h5 class="mb-5">Bent u zeker dat u de gebruiker: '@Model.UserName' wil verwijderen?</h5>

    <button class="btn btn-danger mr-5" type="submit">Verwijder Gebruiker</button>
    <a class="btn btn-primary mr-5" asp-controller="UserManagement" asp-action="Index">Terug naar overzicht</a>
</form>