﻿@{ViewData["Title"] = "Maak Sponsor aan";}

@model SponsorCreateViewModel


<form asp-controller="Sponsor" asp-action="Create" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Nieuwe Sponsor:</legend>
        <div class="form-group">
            <label asp-for="Naam"></label>
            <input class="form-control" asp-for="Naam" />
            <span class="text-danger" asp-validation-for="Naam"></span>
        </div>

        <div class="form-group">
            <label asp-for="Postcode"></label>
            <input class="form-control" asp-for="Postcode" />
            <span class="text-danger" asp-validation-for="Postcode"></span>
        </div>
        <div class="form-group">
            <label asp-for="Url"></label>
            <input class="form-control" asp-for="Url" />
            <span class="text-danger" asp-validation-for="Url"></span>
        </div>


        <div class="form-group">
            <label asp-for="Image"></label>
            <input class="form-control" asp-for="Image" />
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>
        <button class="btn btn-primary" type="submit">Sponsor aanmaken</button>
        <button class="btn btn-warning" type="reset">Reset</button>
    </fieldset>
</form>