﻿@model SponsorEditViewModel


<h2> Sponsor @Model.Naam aanpassen</h2>

<form asp-controller="Sponsor" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Naam"> Sponsor naam :</label>
        <input asp-for="Naam" class="form-control" />
        <span asp-validation-for="Naam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image"> Logo :</label>
        <img src="@Model.Photo" class="img" />
        <input asp-for="Image" class="form-control" />
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <div class="form-group">
        <label asp-for="Postcode"> Sponsor postcode :</label>
        <input asp-for="Postcode" class="form-control" />
        <span asp-validation-for="Postcode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Url"> Sponsor website :</label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <button class="btn btn-primary" type="submit"> Sponsor wijzigen </button>
    <button class="btn btn-warning" type="reset"> Reset </button>
    <a class="btn btn-primary" asp-controller="Sponsor" asp-action="Index">Annuleren</a>
</form>

<style>
    .img {
        height: 100px;
        width: 100px;
    }
</style>