﻿@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Verwijder persoonlijke gegevens";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
       
        <strong>Door deze gegevens te verwijderen zal je account permanent verwijderd worden. Dit kan niet meer ongedaan gemaakt worden!</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">Verwijder gegevens en sluit mijn account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}