﻿@page
@inject UserManager<User> _userManager
@inject dotNet_Core_Groepsopdracht.Data.Database.IDatabase _database
@{
    ViewData["Title"] = "Profiel";
    ViewData["ActivePage"] = ManageNavPages.Info;
    User user = await _userManager.GetUserAsync(User);
    //user = _database.FindUserById(user.Id);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6" style="display:flex;flex-wrap: wrap">
        <div class="col-md-6">
            <h5>Naam</h5>
            <p>@user.LastName</p>
        </div>
        <div class="col-md-6">
            <h5>Voornaam</h5>
            <p>@user.FirstName</p>
        </div>
        <div class="col-md-6">
            <h5>Profielfoto</h5>
            @{
                if (user.PhotoUrl != null)
                {
                    <img style="max-width: 200px" src="@user.PhotoUrl" class="photo-url" />
                }
                else
                {
                    <p>Er is geen profielfoto gevonden.</p>
                }
            }
        </div>
    </div>
    </div>
