﻿@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persoonlijke gegevens";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            Uw account bevat persoonlijke gegevens die u ons gegeven heeft. Op deze pagina kan u deze gegevens downloaden of verwijderen.
        </p>
        <p>
            <strong>Door deze gegevens te verwijderen, verwijdert u ook voorgoed uw account. Dit kan niet meer ongedaan gemaakt worden!</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Verwijder</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}