﻿@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>U hebt geen recovery codes meer!</strong>
            <p><a asp-page="./GenerateRecoveryCodes">Genereer een nieuwe set recovery codes</a> om te kunnen inloggen met een recovery code</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>U hebt nog 1 recovery code!</strong>
            <p><a asp-page="./GenerateRecoveryCodes">Genereer een nieuwe set recovery codes</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
<div class="alert alert-warning">
    <strong>U hebt nog @Model.RecoveryCodesLeft recovery codes</strong>
    <p><a asp-page="./GenerateRecoveryCodes">Genereer een nieuwe set recovery codes</a>.</p>
</div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Vergeet deze browser</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">Deactiveer 2FA</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Reset recovery codes</a>
}

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Voeg authenticator app toe</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Setup authenticator app</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Reset authenticator app</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}