﻿@model ReservationCreateNotLoggedInViewModel
@{ ViewData["Title"] = "Reservatie voltooid";}

<h1>Succes!</h1>
@Html.Hidden("EventId")
<h2>Reservatie voor @Model.EventTitle</h2>

<div>
    <p>Op naam van @Model.FirstName @Model.LastName</p>
    @*TODO: gekozen datum en tijdstip invoeren*@
    <p>Op @Model.ReservationDate</p>
    <p>Voor @Model.NumberOfPeople personen</p>
</div>

@*TODO: Why is fake button not working? I wanted a fake button in the same style as in the event overview, but it's not working ... Why, Oh why?*@
@*<div class="container" style="margin: 20px 0 20px 0">
        <p class="fakeButton "> <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Index">Terug naar Evenementen</a></p>
    </div>*@

<a class="btn btn-primary" asp-area="" asp-controller="Event" asp-action="Index">Terug naar Evenementen</a>