﻿@model ReservationCreateNotLoggedInViewModel

<h2 class="mt-4 mb-3">@Model.EventTitle</h2>
<h4 class="mt-4 mb-3">Geef de nodige info</h4>

<script type="text/javascript" src="/js/reservations.js"></script>
<script>
var periods = new Array();
@foreach(string period in @Model.Periods)
{
    <text> periods.push(@Html.Raw(period)); </text>
}

</script>

<form asp-controller="Reservation" asp-action="CreateNotLoggedIn" method="post">
    @Html.Hidden("EventId")
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input class="form-control" asp-for="FirstName" />
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input class="form-control" asp-for="LastName" />
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" />
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-group">
        <label asp-for="Zipcode"></label>
        <input class="form-control" asp-for="Zipcode" />
        <span class="text-danger" asp-validation-for="Zipcode"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReservationDate"></label>
        <select asp-for="ReservationDate" asp-items="Model.PossibleDates" onchange="showTimes(this.value);" id="dateSelector">
            <option disabled selected value="None"> -- Datum -- </option>
        </select>
    </div>

    <div class="form-group" id="timeSelectorDiv" style="display:none">
        <label asp-for="ReservationTime"></label>
        <select asp-for="ReservationTime" id="timeSelector"></select>
    </div>

    <div class="form-group">
        <label asp-for="NumberOfPeople"></label>
        <input class="form-control" asp-for="NumberOfPeople" />
        <span class="text-danger" asp-validation-for="NumberOfPeople"></span>
    </div>

    <button class="btn btn-primary" type="submit">Maak Reservatie</button>
</form>