﻿@model ReservationCreateLoggedInViewModel


<h2 class="mt-4 mb-3">@Model.EventTitle</h2>
<h3 class="mt-4 mb-3">Reservatie op naam van: @Model.UserName</h3>

<script type="text/javascript" src="/js/reservations.js"></script>
<script>
var periods = new Array();
@foreach(string period in @Model.Periods)
{
    <text> periods.push(@Html.Raw(period)); </text>
}

</script>

<form name="form1" asp-controller="Reservation" asp-action="CreateLoggedIn" enctype="multipart/form-data" method="post">
    @*<input value="@Model.EventId" asp-for="EventId" />*@
    @Html.Hidden("EventId")
    @Html.Hidden("Periods")
    <div class="form-group">
        <label asp-for="ReservationDate"></label>
        <select asp-for="ReservationDate" asp-items="Model.PossibleDates" onchange="showTimes(this.value);" id="dateSelector">
            <option disabled selected value="None"> -- Datum -- </option>
        </select>
        @*<span class="text-danger" asp-validation-for="ReservationDate"></span>*@
    </div>

    <div class="form-group" id="timeSelectorDiv" style="display:none">
        <label asp-for="ReservationTime"></label>
        <select asp-for="ReservationTime" id="timeSelector">
            @*<option disabled selected value="None"> -- Tijd -- </option>*@
        </select>
    </div>


    <div class="form-group">
        <label asp-for="NumberOfPeople"></label>
        <input class="form-control" asp-for="NumberOfPeople" />
        <span class="text-danger" asp-validation-for="NumberOfPeople"></span>
    </div>
    <button class="btn btn-primary" type="submit">Maak Reservatie</button>
</form>

