﻿@model ReservationDeleteViewModel

@if (Model.NumberOfPeople == 1)
{
    <p>Bent u zeker dat u de reservatie voor @Model.NumberOfPeople persoon voor @Model.EventTitle op naam van @Model.Firstname @Model.Lastname wilt verwijderen?</p>
}

else
{
<p>Bent u zeker dat u de reservatie voor @Model.NumberOfPeople personen voor @Model.EventTitle op naam van @Model.Firstname @Model.Lastname wilt verwijderen?</p>
}

<form asp-action="ConfirmDelete" asp-controller="Reservation" method="post" asp-route-id="@Model.Id">
    <button class="btn btn-danger" type="submit">Verwijder</button>
    <a class="btn btn-primary" asp-controller="Reservation" asp-action="Index" asp-route-id="@Model.Id">Annuleer</a>
</form>