﻿@model UserReservationListViewModel


<h1> Lijst Reservaties </h1>

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Event naam</th>
        <th>Beschrijving</th>
        <th>Afbeelding</th>
        <th>Adres</th>
        <th>Aantal mensen</th>
        <th>Datum</th>

    </tr>
    @if (Model.Reservations.Any()&& Model.Reservations!=null)
    {
        @foreach (var reservatie in Model.Reservations)
        {
<tr>
    <td>@reservatie.Event.Title</td>
    <td>@reservatie.Event.Description</td>
    <td>@reservatie.Event.Image</td>
    <td>@reservatie.Event.Address</td>
    <td>@reservatie.NumberOfPeople</td>
    <td>@reservatie.ReservationDateTime</td>

</tr>
        }
    }
    else
    {
        <td>
            <p>Deze klant heeft momenteel geen reservaties</p>
        </td>

    }
</table>
