﻿@model PeriodViewModel
@*Period gedeelte*@

    <div class="row" modelId="@Model.Id">
        <fieldset class="datetimepick" style="display: flex; align-items: center; justify-content: center;">

            @if (Model.Start != DateTime.MinValue)
            {<div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Start"></label>
                        <input type="datetime" class="form-control datepicker" asp-for="Start" value="@Model.Start" />
                        <span class="text-danger" asp-validation-for="Start"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="End"></label>
                        <input type="datetime" class="form-control datepicker" asp-for="End" value="@Model.End" />
                        <span class="text-danger" asp-validation-for="End"></span>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Start"></label>
                        <input type="datetime" class="form-control datepicker" asp-for="Start" />
                        <span class="text-danger" asp-validation-for="Start"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="End"></label>
                        <input type="datetime" class="form-control datepicker" asp-for="End" />
                        <span class="text-danger" asp-validation-for="End"></span>
                    </div>
                </div>

            }




            @if (Model.RemoveRemoveButton)//Hides the delete button for the 1st periodVM
            {
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="btn btn-secondary" type="button" disabled value="Verwijder datum" />
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="btn btn-primary" type="button" onclick="RemovePeriodVM(this.id)" id="@Model.Id" value="Verwijder datum" />
                    </div>
                </div>
            }



        </fieldset>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RemoveRemoveButton)
    </div>
