﻿@model IEnumerable<ContactOverviewViewModel>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Naam</th>
            <th>Email</th>
            <th>Message</th>
            <th></th>
        </tr>
        @foreach (var contactMessage in Model)
        {
            <tr>
                <td>@contactMessage.Name</td>
                <td>@contactMessage.Email</td>
                <td>@contactMessage.MessageContent</td>
                <td><a class="nav-link active text-danger" asp-controller="Home" asp-action="DeleteContactMessage" asp-route-id="@contactMessage.Id">Delete</a></td>

            </tr>
        }
    </table>
}
else
{
    <p>Er zijn geen berichten.</p>
}
<br />
<br />
