﻿@{
    ViewData["Title"] = "Home Page";
}
@model HomeIndexViewModel
<div class="indexContainer-full-width">
    <!-- Carousel slide show -->
    <section>
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                @{bool starting = true;
                }
                <style>
                    .carousel {
                        height: 100px;
                    }

                    @@media(min-width: 768px) {
                        #citem {
                            width: 100%;
                        }

                        .carousel {
                            height: auto
                        }
                    }
                </style>
                <div class="carousel-item @if (starting) {<text> active </text>; starting = false;}">
                    <a asp-controller="Event" asp-action="Detail" asp-route-Id="2afeba1c-8019-47a2-bfa5-d67db50d4d29"><img id="citem" class="d-block" src="~/Images/BannerWonderfullife.jpg" alt="It's a Wonderful life" /></a>
                </div>

                <div class="carousel-item @if (starting) {<text> active </text>; starting = false;}">
                    <a asp-controller="Event" asp-action="Detail" asp-route-Id="f5f34886-abd8-4e69-9e15-47431cda0a6d"><img id="citem" class="d-block" src="~/Images/BannerZonienwoud.jpg" alt="Wandeling in het Zoniënwoud" /></a>
                </div>

                <div class="carousel-item @if (starting) {<text> active </text>; starting = false;}">
                    <a asp-controller="Event" asp-action="Detail" asp-route-Id="7036ed71-2fbf-46cc-a556-d3bb7cfa0588"><img id="citem" class="d-block" src="~/Images/BannerBSF.jpg" alt="Brussels Summer Festival" /></a>
                </div>

                <!-- additional slides - Set below -->
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Vorige</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Volgende</span>
            </a>
        </div>
    </section>
    <!-- Main Page Content -->
    <div class="container">
        <!-- end of first row - spotlight events -->
        <!-- Past/Recent events portfolio -->
        <h2 style="margin-top: 30px">Evenementen Portfolio</h2>
        <div class="row">
            @foreach (var e in Model.EventsIndex)
            {
                <style>
                    .eventcardpicture {
                        height: 180px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        margin: -18px -17px 20px -18px;
                    }

                    @@media (min-width: 768px) {
                        .eventcardpicture {
                            height: 200px;
                            margin: -20px -20px 20px -20px;
                        }
                    }
                </style>
                <div class="col-lg-4 col-sm-12">
                    <div class="card" style="margin-bottom: 25px">
                        <div class="card-header text-white bg-dark font-weight-bold">
                            <a class="nav-link text-white" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis" asp-controller="Event" asp-action="Detail" asp-route-Id="@e.EventId">@e.Title</a>
                        </div>
                        <div class="card-body position-relative" style="height: 550px">
                            <div>
                                @if (!string.IsNullOrEmpty(e.EventImage))
                                {
                                    <a asp-controller="Event" asp-action="Detail" asp-route-Id="@e.EventId">
                                        <div style="background-image: url(@e.EventImage);" class="eventcardpicture"></div>
                                    </a>
                                }
                            </div>
                            <h6>Omschrijving:</h6>
                            <p>@e.Description</p>
                        </div>
                    </div>
                </div>
            }
            <a class="font-weight-bolder text-primary text-decoration-none" style="margin: -10px 0px 40px 20px" asp-area="" asp-controller="Event" asp-action="Index">Bekijk alle evenementen</a>
        </div>
        <!-- end of second row - past events -->
        <!-- News Section -->
        <style>
            #newsarticle {
                height: 150px;
                background-size: cover;
                color: white;
                font-size: 16px;
                position: relative;
                margin: 5px;
                text-shadow: 1px 1px #000000;
            }
            @@media (min-width: 768px) {
                #newsarticle {
                    height: 200px;
                    background-size: cover;
                    color: white;
                    font-size: 18px;
                    position: relative;
                    margin: 2px;
                    text-shadow: 1px 1px #000000;
                }
            }
            #newsarticle span {
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
        </style>
        <h2>Nieuws</h2>
        <h4>Recent nieuws:</h4>
        <div class="row container">
            @foreach (var n in Model.NewsItems.Take(3))
            {
                <div class="col-lg-4 col-sm-12">
                    <a asp-controller="News" asp-action="Detail" asp-route-id="@n.NewsItemId">
                        <div style="background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%), url('@n.ImageUrl');"
                             id="newsarticle" class="rounded"><span>@n.Title</span></div>
                        </a>
                    </div>
                }
            <a class="font-weight-bolder text-primary text-decoration-none" style="margin: 10px 0px 0px 20px" asp-area="" asp-controller="News" asp-action="Index">Bekijk alle nieuwsartikels</a>
        </div>
        <!-- Sign up today -->
        @*@if (!User.Identity.IsAuthenticated)
        {
            <div class="row mb-4">
                <div class="col-md-8">
                    <p></p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-danger btn-block" asp-page="/Account/Register" asp-area="Identity">Sign Up Today!</a>
                </div>
            </div>
        }*@
    </div>
</div>