@model EventCreateViewModel
@{
    ViewData["Title"] = "Create Evenement";
}

<style>
    input[type=datetime] {
        width: 200px;
        margin-right: 15px;
    }
</style>

<h1>Evenement aanmaken</h1>
<p class="mt-5" style="font-size:small">* Velden met een asterisk moeten ingevuld worden</p>

<form id="form" asp-controller="Event" asp-action="Create" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly"></div>
    <fieldset class="mt-3 mb-5">
        <legend class="mb-5">Info Evenement:</legend>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input class="form-control" asp-for="Title" />
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>

        <div class="form-group">
            <label asp-for="MaxCap"></label>
            <input class="form-control" asp-for="MaxCap" />
            <span class="text-danger" asp-validation-for="MaxCap"></span>
        </div>
        <div class="form-group">
            <label asp-for="MinCap"></label>
            <input class="form-control" asp-for="MinCap" />
            <span class="text-danger" asp-validation-for="MinCap"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea class="form-control" id="Description" asp-for="Description"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
            <span id="DescriptionChars" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input class="form-control" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>

        <div class="form-group">
            <label asp-for="Image"></label>
            <input class="form-control" asp-for="Image" />
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>
    </fieldset>

    @*Adress gedeelte*@
    <fieldset class="mt-3 mb-4">
        <legend class="mb-5">Adres:</legend>
        <div class="form-group">
            <label asp-for="Street"></label>
            <input class="form-control" asp-for="Street" />
            <span class="text-danger" asp-validation-for="Street"></span>
        </div>
        <div class="form-group">
            <label asp-for="Number"></label>
            <input class="form-control" asp-for="Number" />
            <span class="text-danger" asp-validation-for="Number"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bus"></label>
            <input class="form-control" asp-for="Bus" />
            <span class="text-danger" asp-validation-for="Bus"></span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input class="form-control" asp-for="City" />
            <span class="text-danger" asp-validation-for="City"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode"></label>
            <input class="form-control" asp-for="ZipCode" />
            <span class="text-danger" asp-validation-for="ZipCode"></span>
        </div>
    </fieldset>
    @*****************************************@
    <fieldset>
        <legend>Periode Evenement:</legend>


        <div id="PeriodViewModelContainer">
            @*when "verwijder datum" gaat hij de eerste datum verwijderen*@
            @Html.EditorFor(model => model.PeriodLijst)
        </div>
        <div class="row">
            @*<div class="col-md-4">
                    <input class="btn btn-primary" type="button" id="btnAddPeriod" value="Voeg een nieuwe datum toe" />
                </div>*@
            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-primary" type="button" onclick="AddPeriodeVM()" id="btnAddPeriod" value="Voeg een nieuwe datum toe" />
                </div>
            </div>
            <br />@Html.ValidationSummary(false, "", new { @class = "text-danger" })

        </div>
    </fieldset><br /><br /><br />
    <button class="btn btn-primary" type="submit">Aanmaken</button>
    <button class="btn btn-warning text-dark" type="reset">Reset</button>
</form>
<br />
<form asp-action="Index" method="get">
    <button class="btn btn-primary" type="submit">Terug</button>
</form>




@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    @*
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    *@

    <script src="~/js/PartialViewAdder.js"></script>
    <script type="text/javascript">
        $(".datepicker").datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });
        AddPeriodItemListener("btnAddPeriod", "/Event/AddPeriodViewModelToEvent", "PeriodViewModelContainer");

        function RemovePeriodVM(id) {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: `/Event/RemovePeriodViewModelFromEvent/${id}`,
                success: function (str) {
                    document.querySelector(`[modelId="${id}"]`).remove();
                }
            });
        }
        document.getElementById("Description").addEventListener('input', upDateDescriptionChars);
        function upDateDescriptionChars() {
            let currentChars = String(500 - this.value.length);
            document.getElementById("DescriptionChars").innerHTML = currentChars + "/500 beschikbaar."

        }

        let desChars = String(500 - document.getElementById("Description").value.length);
        document.getElementById("DescriptionChars").innerHTML = desChars + "/500 beschikbaar."


    </script>

}