﻿@model EventDeleteViewModel

    @*// NOTE: action is called "ConfirmDelete"*@
    <form asp-controller="Event" asp-action="ConfirmDelete" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="PeriodeEvenement"></label>
            <input asp-for="PeriodeEvenement" class="form-control" />
            <span class="text-danger" asp-validation-for="PeriodeEvenement"></span>
        </div>*@
        <div>
            <strong>Are you sure you want to delete '@Model.Title'?</strong>
        </div>

        <button class="btn btn-danger" type="submit">Delete</button>
    </form>