﻿@model EventEditViewModel

@{
    ViewData["Title"] = "Edit Evenement";
}
<h1>Evenement aanpassen</h1>
<br />

<form asp-controller="Event" id="form" asp-action="Edit" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Info Evenement:</legend>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input class="form-control" asp-for="Title" />
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>

        <div class="form-group">
            <label asp-for="MaxCap"></label>
            <input class="form-control" asp-for="MaxCap" />
            <span class="text-danger" asp-validation-for="MaxCap"></span>
        </div>
        <div class="form-group">
            <label asp-for="MinCap"></label>
            <input class="form-control" asp-for="MinCap" />
            <span class="text-danger" asp-validation-for="MinCap"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input class="form-control" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image"></label>
            @if (!string.IsNullOrEmpty(Model.CurrentImgPath))
            {
                <img class="img" src="@Model.CurrentImgPath" />
            }
            else
            {
                <p>Dit evenement heeft nog geen afbeelding.</p>
            }
            <input class="form-control" asp-for="Image" />
            <span class="text-danger" asp-validation-for="Image"></span>
        </div>
    </fieldset>
    @*Period gedeelte*@
    <legend>Periode Evenement:</legend>
    @if (Model.PeriodLijst != null)
    {
        <div> Beschikbare periodes:</div>
        <div id="PeriodViewModelContainer">
            <table>
                @*when "verwijder datum" gaat hij de eerste datum verwijderen*@
                @Html.EditorFor(model => model.PeriodLijst)
            </table>

        </div>

    }
    else
    { <p>Er zijn nog geen periodes gedefinieërd voor dit evenement.</p>}

    <div class="row">
        <div class="col-md-4">
            <input class="btn btn-primary" type="button" onclick="AddPeriodeVM()" id="btnAddPeriod" value="Voeg een nieuwe datum toe" />
        </div>
    </div>
    <br />@Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <br />


    </fieldset>
    @*****************************************@


    @*Adress gedeelte*@
    <fieldset>
        <legend>Adres:</legend>
        <div class="form-group">
            <label asp-for="Street"></label>
            <input class="form-control" asp-for="Street" />
            <span class="text-danger" asp-validation-for="Street"></span>
        </div>
        <div class="form-group">
            <label asp-for="Number"></label>
            <input class="form-control" asp-for="Number" />
            <span class="text-danger" asp-validation-for="Number"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bus"></label>
            <input class="form-control" asp-for="Bus" />
            <span class="text-danger" asp-validation-for="Bus"></span>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input class="form-control" asp-for="City" />
            <span class="text-danger" asp-validation-for="City"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode"></label>
            <input class="form-control" asp-for="ZipCode" />
            <span class="text-danger" asp-validation-for="ZipCode"></span>
        </div>
    </fieldset>

    <p span style="font-weight:bolder">Sponsors van dit event:</p>
    
        <div class="form-group" style="width:250px">
            <select multiple class="form-control" asp-for="@Model.SelectedSponsors" asp-items="@Model.Sponsortags"></select>

        </div>
    

    @*****************************************@

    <button class="btn btn-primary" type="submit">Aanpassen</button>
    <button class="btn btn-warning text-dark type="reset">Reset</button>

</form>

<br />
<p style="font-size:small">* Velden met een asterisk moeten ingevuld worden</p>
<br />
<br />

<form asp-action="Index" method="get">
    <button class="btn btn-primary" type="submit">Terug</button>
</form>

<style>
    .img {
        height: 100px;
        width: 100px
    }
</style>

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="~/js/PartialViewAdder.js"></script>
    <script type="text/javascript">
        $(".datepicker").datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });
        AddPeriodItemListener("btnAddPeriod", "/Event/AddPeriodViewModelToEditEvent", "PeriodViewModelContainer");

        function RemovePeriodVM(id) {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: `/Event/RemovePeriodViewModelFromEditEvent/${id}`,
                success: function (str) {
                    document.querySelector(`[modelId="${id}"]`).remove();
                }
            });
        }



    </script>
}

 
