@model IEnumerable<OverviewEventViewModel>
@{
    var i = 1;
    ViewData["Title"] = "Overzicht Evenementen";
}
@using dotNet_Core_Groepsopdracht.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject dotNet_Core_Groepsopdracht.Data.Database.IDatabase _database
@inject UserManager<User> _userManager;
@{
    User user = _userManager.GetUserAsync(User).Result;
}
<h1 class="mt-4 mb-4">Evenementen</h1>
@if (user != null)
{
    user = _database.FindUserById(user.Id);
    @if (user.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.EventManagement))
    {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="btn btn-primary" asp-area="" asp-controller="Event" asp-action="Create">Evenement aanmaken</a>
            </li>
        </ul>
        <br />
    }
}
<div class="row container">
    @{
        if (Model.Count() == 0 || Model == null || !Model.Any())
        {
            <h3>Er zijn momenteel geen evenementen georganiseerd.</h3>
        }
        else
        {
            @foreach (OverviewEventViewModel e in @Model)
            {
                <style>
                    .eventcardpicture {
                        height: 180px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        margin: -18px -17px 20px -18px;
                    }

                    @@media (min-width: 768px) {
                        .eventcardpicture {
                            height: 260px;
                            margin: -20px -20px 20px -20px;
                        }
                    }
                </style>
                <div class="col-lg-6 col-sm-12">
                    <div class="card" style="margin-bottom: 25px">
                        <div class="card-header text-white bg-dark font-weight-bold">
                            <a class="nav-link text-white" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis" asp-controller="Event" asp-action="Detail" asp-route-Id="@e.Id">@e.Title</a>
                        </div>
                        <div class="card-body position-relative" style="height: 620px">
                            <div>
                                @if (!string.IsNullOrEmpty(e.Image))
                                {
                                    <a asp-controller="Event" asp-action="Detail" asp-route-Id="@e.Id">
                                        <div style="background-image: url(@e.Image);" class="eventcardpicture"></div>
                                    </a>
                                }
                            </div>
                            <h6>Omschrijving:</h6>
                            <p>@e.Description</p>
                            @if (@e.Address.Bus == null || @e.Address.Bus == "")
                            {
                                <p class="position-absolute" style="bottom: 75px"><span class="font-weight-bold">Adres:</span> @e.Address.Street @e.Address.Number, @e.Address.ZipCode @e.Address.City </p>
                                <p class="position-absolute" style="bottom: 55px"><span class="font-weight-bold">Aantal vrije plaatsen:</span> <span class="text-info font-weight-bold">@e.MaxPlacesLeft</span></p>
                            }
                            else
                            {
                                <p class="position-absolute" style="bottom: 75px"><span class="font-weight-bold">Adres:</span> @e.Address.Street @e.Address.Number @e.Address.Bus, @e.Address.ZipCode @e.Address.City </p>
                                <p class="position-absolute" style="bottom: 55px"><span class="font-weight-bold">Aantal vrije plaatsen:</span> <span class="text-info font-weight-bold">@e.MaxPlacesLeft</span></p>
                            }
                            <div class="position-absolute" style="bottom: 25px">
                                <a class="btn btn-primary" asp-area="" asp-controller="Reservation" asp-action="Create" asp-route-Id="@e.Id">Reserveren</a>
                                @if (user != null)
                                {
                                    user = _database.FindUserById(user.Id);
                                    @if (user.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.EventManagement))
                                    {
                                        <a class="btn btn-primary" asp-area="" asp-controller="Event" asp-action="Edit" asp-route-Id="@e.Id">Edit</a>
                                        <a class="btn btn-danger" asp-area="" asp-controller="Event" asp-action="Delete" asp-route-Id="@e.Id">Delete</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                i++;
            }
        }

    }
</div>