﻿@page
@model LockoutModel
@{
    ViewData["Title"] = "Geblokkeerd";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Deze account is geblokkeerd, probeer het later nog eens</p>
</header>
