﻿@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verificatie";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Je hebt gevraagd om in te loggen met een recovery code.
    Deze login zal niet onthouden worden totdat je een code van de authenticator app invoert bij de login of de 2FA uitschakelt en opnieuw inlogt.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.RecoveryCode"></label>
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
