﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Registreer";
}

<h1>@ViewData["Title"]</h1>
<style>
    .registerform {
        display: flex;
        flex-wrap: wrap;
    }
    .form-group {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    form button {
        margin-top: 15px;
        margin-left: -5px;
        width: 20%;
    }
</style>
<div class="row">
    <div class="col-md-8">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h4>Maak een nieuw account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="registerform row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Input.Street"></label>
                    <input asp-for="Input.Street" class="form-control" />
                    <span asp-validation-for="Input.Street" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Input.Number"></label>
                    <input asp-for="Input.Number" class="form-control" />
                    <span asp-validation-for="Input.Number" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Input.Bus"></label>
                    <input asp-for="Input.Bus" class="form-control" />
                    <span asp-validation-for="Input.Bus" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label asp-for="Input.City"></label>
                    <input asp-for="Input.City" class="form-control" />
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Input.ZipCode"></label>
                    <input asp-for="Input.ZipCode" class="form-control" />
                    <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control"  />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="Input.PhotoUrl"></label>
                    <input size="5" asp-for="Input.PhotoUrl" class="form-control" />
                    <span asp-validation-for="Input.PhotoUrl" class="text-danger"></span>
                </div>
                
            </div>
            <button type="submit" class="btn btn-primary">Registreer</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
