﻿@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
@using dotNet_Core_Groepsopdracht.Areas.Identity.Data
@inject dotNet_Core_Groepsopdracht.Data.Database.IDatabase _database
@inject Microsoft.AspNetCore.Identity.UserManager<User> _usermanager
<!DOCTYPE html>
<html lang="nl-be">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AltijdIetsTeDoen.be</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Ribbon.css" />
    <link rel="stylesheet" href="css/modern-event.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" href="node_modules/mdbootstrap/css/style.css">
</head>
<body style="background: linear-gradient(0deg, #353a40 60%, #f7f7f7 60%); padding: 0; margin: 0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img style="height: 30px; width: auto; margin-top: -5px" src="~/Images/ALtijdIetsTeDoenLogoRect.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Event" asp-action="Index">Evenementen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Reservation" asp-action="Index">Reservaties</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="News" asp-action="Index">Nieuws</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            User user2 = await _usermanager.GetUserAsync(User);
                            user2 = _database.FindUserById(user2.Id);
                            @if (user2.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.SponsorManagement) || user2.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.RoleManagement) || user2.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.UserManagement))
                            {
                                <li>
                                    <div class="btn-group">
                                        <a style="cursor: pointer" class="nav-link text-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Administratie <i style="font-size: 10px; position: relative; top: -4px; margin-left: 2px; margin-right: 6px" class="fas fa-sort-down"></i>
                                        </a>
                                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                            @if (user2.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.UserManagement) || user2.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.RoleManagement))
                                            {
                                                <a class="dropdown-item text-white dropdownhover" asp-area="" asp-controller="UserManagement" asp-action="Index">Gebruikers</a>
                                            }
                                            @if (user2.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.RoleManagement))
                                            {
                                                <a class="dropdown-item text-white dropdownhover" asp-area="" asp-controller="UserManagement" asp-action="RoleOverview">Rollen</a>
                                            }
                                            @if (user2.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.SponsorManagement))
                                            {
                                                <a class="dropdown-item text-white dropdownhover" asp-area="" asp-controller="Sponsor" asp-action="Index">Sponsors</a>
                                            }
                                        </div>
                                        <style>
                                            .dropdownhover:hover {
                                                background: #40444b;
                                            }
                                        </style>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
        @if (hostingEnv.EnvironmentName != "Production")
        {
            <div style="z-index: 1000; margin-top: -18px" class="bg-danger font-weight-bold text-center text-white"><span>@hostingEnv.EnvironmentName</span></div>
        }
    </header>
    <div style="width: 100%; padding-bottom: 100px" class="bg-light">
        <div style="padding-top: 65px;" class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <footer class="page-footer position-relative font-small bg-dark pt-4 text-light">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">AltijdIetsTeDoen.be</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a class="text-light" asp-area="" asp-controller="News" asp-action="Index">Nieuws</a>
                        </li>
                        <li>
                            <a class="text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li>
                            <a class="text-light" asp-area="" asp-controller="Reservation" asp-action="Index">Reservaties</a>
                        </li>
                        <li>
                            <a class="text-light" asp-area="" asp-controller="Event" asp-action="Index">Evenementen</a>
                        </li>

                        @using dotNet_Core_Groepsopdracht.Areas.Identity.Data
                        @using Microsoft.AspNetCore.Identity
                        @inject dotNet_Core_Groepsopdracht.Data.Database.IDatabase _database
                        @inject UserManager<User> _userManager;
                        @{ User user = _userManager.GetUserAsync(User).Result;
                            if (user != null) { user = _database.FindUserById(user.Id); }
                        }
                        @if (user != null && User.Identity.IsAuthenticated && user.HasPerm(dotNet_Core_Groepsopdracht.Entities.Permissions.CreateNewsItem))
                        {
                            <li>
                                <a class="text-light" asp-area="" asp-controller="UserManagement" asp-action="Index">UserManagement</a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-150 d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                    <!-- Openingsuren -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Openingsuren</h5>
                    <div style="display: flex; justify-content: space-between; width: 200px">
                        <p>
                            Maandag:<br />
                            Dinsdag:<br />
                            Woensdag:<br />
                            Donderdag:<br />
                            Vrijdag:<br />
                            Zaterdag:<br />
                            Zondag:
                        </p>
                        <p>
                            09:00 - 16:00<br />
                            09:00 - 16:00<br />
                            09:00 - 17:00<br />
                            09:00 - 17:00<br />
                            10:00 - 18:00<br />
                            Gesloten<br />
                            Gesloten<br />
                        </p>
                    </div>
                </div>
                <div class="col-md-3 mx-auto">

                    <!-- Contact -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                    <ul class="list-unstyled">
                        <li>
                            <p><i class="fas fa-map-marker-alt"></i> Stationstraat 1<br /><span style="margin-left: 15px;">3000 Leuven</span></p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone-alt"></i> 0478/12.34.56</p>
                        </li>
                        <li>
                            <!-- Social buttons -->
                            <style>
                                .fa {
                                    padding: 10px;
                                    font-size: 20px;
                                    width: 40px;
                                    height: 40px;
                                    text-align: center;
                                    text-decoration: none;
                                    margin: 5px 2px;
                                    border-radius: 70%;
                                    transition: width 0.5s, height 0.5s, font-size 0.5s;
                                }

                                    .fa:hover {
                                        opacity: 0.8;
                                    }

                                .social:hover {
                                    color: white;
                                    text-decoration: none;
                                }

                                .fa-facebook {
                                    background: #3B5998;
                                    color: white;
                                }

                                .fa-twitter {
                                    background: #55ACEE;
                                    color: white;
                                }

                                .fa-youtube {
                                    background: #bb0000;
                                    color: white;
                                }

                                .fa-instagram {
                                    background: #eb4924;
                                    color: white;
                                }
                            </style>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="fa fa-facebook social"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="fa fa-twitter social"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="fa fa-youtube social"></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="fa fa-instagram social"></a>
                                </li>
                            </ul>
                            <!-- Social buttons -->
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mx-auto">
                    <img style="width: 250px; height: auto" class="image" src="~/Images/AltijdIetsTeDoenLogo.png" />
                </div>
            </div>
        <hr style="margin-bottom: 0; margin-top: 1em;">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright: .NET Heverlee
        </div>
        <!-- Copyright -->
    </footer>
</body>
</html>