/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/templates/modern-business)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.indexContainer-full-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    margin-top: -82px;
}

.card {
    transition: box-shadow .3s;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}