﻿@model NewsDeleteViewModel
<form asp-controller="News" asp-action="ConfirmDelete" asp-route-id="@Model.Id" method="post">

    <h5 class="mb-5">Bent u zeker dat u het newsitem '@Model.Title' wilt verwijderen?</h5>

    <div class="form-group">
        <label asp-for="AuthorUserName"></label>
        <input asp-for="AuthorUserName" class="form-control" readonly="readonly" />
        <span class="text-danger" asp-validation-for="AuthorUserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateCreated"></label>
        <input asp-for="DateCreated" class="form-control" readonly="readonly" />
        <span class="text-danger" asp-validation-for="DateCreated"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Content"></label>
        <input asp-for="Content" class="form-control" readonly="readonly" />
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>


    <a class="btn btn-primary mr-5" asp-controller="News" asp-action="Index">Terug naar overzicht</a>
    <button class="btn btn-danger mr-5" type="submit">Verwijder NewsItem</button>
</form>



