﻿
@model NewsEditViewModel


<form asp-controller="News" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea rows="5" asp-for="Content" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>
    @*TODO: How to display bool and provide option to change status??*@
    @*Create extra string property to display Approved or Not-approved*@
    <div class="form-group">
        <p>
            @if (Model.ImageUrl != null)
            {
                <img src="@Model.ImageUrl" />
            }
        </p>
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" />
            <span class="text-danger" asp-validation-for="Image"></span>
</div>
    <input type="hidden" asp-for="ImageUrl" />
    <button class="btn btn-primary" type="submit">Bewaren</button>
    <button class="btn btn-warning" type="reset">Reset</button>
</form>

@*//TODO: Author / user? Cannot be changed => Display author?
    //TODO: link with reactions? Reactions cannot be edited ...
    
    *@